* {
    all: unset;
    font-size: 13px;
    font-family: "CaskaydiaMono Nerd Font";
    font-weight: normal;
}

.calendar {
    background-color: #ffffff;
    color: #000000;
    padding: 12px;
    margin: 14px;
    border-radius: 12px;
    font-weight: bold;
    border: 3px solid #000000;
    padding:20px;
    min-width:320px;
} 

calendar:selected {
    background-color: #000000;
    color: #ffffff;
    padding:0px;
}

