/*
 *                                                                 
 *                                                                 
 *    $$\    $$\  $$$$$$\   $$$$$$$\  $$$$$$\   $$$$$$\   $$$$$$\  
 *    \$$\  $$  |$$  __$$\ $$  _____|$$  __$$\ $$  __$$\ $$  __$$\ 
 *     \$$\$$  / $$$$$$$$ |\$$$$$$\  $$ /  $$ |$$$$$$$$ |$$ |  \__|
 *      \$$$  /  $$   ____| \____$$\ $$ |  $$ |$$   ____|$$ |      
 *       \$  /   \$$$$$$$\ $$$$$$$  |$$$$$$$  |\$$$$$$$\ $$ |      
 *        \_/     \_______|\_______/ $$  ____/  \_______|\__|      
 *                                   $$ |                          
 *                                   $$ |                          
 *                                   \__|     
 *
 * waybar theming
 * by yosmisyael (2024)
 */

@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrains Mono Nerd Propo", "Nerd Font", sans-serif;
    font-weight: 700;
    font-size: 13.4px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@surface_container_highest, .7);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

tooltip box {
    background-color: rgba(0, 0, 0, .2);
}

tooltip label {
    color: @primary;
    padding: 5px;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 6px 6px;
}

#window,
#clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#pulseaudio,
#tray,
#custom-power,
#custom-state,
#cpu,
#memory,
#temperature,
#custom-updates 
{
    color: @primary;
    border-radius: 20px;
    padding: 0px 12px;
    min-width: 24px;
    transition: all 0.3s ease-in-out;
}

#window {
  min-width: 0;
  padding-right: 14px;
}

#custom-state {
  font-size: 14px;
  min-width: 14px;
  padding: 0 13px 0 10px;
  color: @primary;
}

#custom-menu {
    padding: 0px 0px 0px 8px;
    /*background: alpha(@tertiary, 0.85);*/
    color: alpha(@tertiary, 0.88);
    min-width: 32px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

#custom-menu:hover {
    color: @tertiary;
    transition: all 0.3s ease-in-out;
}

#bluetooth:hover,
#custom-updates:hover,
#custom-power:hover {
    background: @secondary_container;
    color: @on_secondary_container;
    transition: all 0.3s ease-in-out;
}

#workspaces {
  padding: 4px 2px;
  background-color: @primary_container;
  border-radius: 20px;
}

#workspaces button {
    margin: 0 3px;
    border-radius: 24px;
    min-height: 6px;
    min-width: 6px;
    background-color: alpha(@primary, 0.5);
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: @primary;
    color: @on_primary;
    transition: all 300ms ease-in-out;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    font-weight: 600;
    min-width: 36px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background: @error_container;
    color: @error_container;
    transition: all 0.3s ease-in-out;
}

#window {
    border-radius: 13px 20px 20px 13px;
    background-color: @surface_variant;
    color: @on_surface_variant;
    font-weight: 400;
}

/* group system stats */
box#performance {
  background-color: @surface_variant;
  border-radius: 20px;
}

#clock {
    color: alpha(@primary, 0.85);
    padding: 4px 12px;
    border-radius: 20px;
    min-width: 32px;
    transition: all 0.3s ease-in-out;
}

#clock:hover {
    color: @primary;
    transition: all 0.3s ease-in-out;
}

#custom-notification,
#pulseaudio,
#network {
  padding-left: 8px;
  padding-right: 0px;
  /*background-color: @surface_variant;*/
  color: @on_surface_variant;
  transition: all 300ms ease-in-out;
}

#custom-notification {
  padding-left: 12px;
}

#pulseaudio {
  padding-left: 14px;
  padding-right: 8px;
}

#custom-notification:hover,
#pulseaudio:hover,
#network:hover {
  /*background-color: @inverse_primary;*/
  color: @inverse_on_primary;
}

#network.disconnected {
    color: @error;
}

#network.ethernet {
    color: @tertiary;
}

#bluetooth.disabled,
#bluetooth.off {
    color: @outline;
}

#bluetooth.connected {
    color: @primary;
}

#pulseaudio.muted {
    color: @error;
}

#pulseaudio {
    color: @primary;
}

/* Group Power */
box#system {
    background-color: @surface_variant;
    color: alpha(@primary, 0.7);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

#power-profiles-daemon {
  margin-right: 16px;
  font-size: 14px;
}

#tray {
    background-color: @primary_container;
    padding: 4px 12px;
}

#tray menu {
    background: @surface;
    border: 1px solid @outline_variant;
    border-radius: 12px;
    padding: 8px;
}

#custom-power {
    background: alpha(@secondary_fixed_dim, 0.85);
    color: alpha(@on_secondary_fixed, 0.85);
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 20px 13px 13px 20px;
    transition: all 0.3s ease-in-out;
    min-width: 32px;
}

#custom-power:hover {
    background: @secondary_fixed_dim;
    color: @on_secondary_fixed;
    transition: all 0.3s ease-in-out;
}

tooltip {
    background: @surface;
    border: 1px solid @outline_variant;
    border-radius: 8px;
    padding: 8px 12px;
    color: @on_surface;
    font-weight: 400;
}

tooltip label {
    color: @on_surface;

  border-radius: 24px;
}
