/*
 *                                                                 
 *                                                                 
 *    $$\    $$\  $$$$$$\   $$$$$$$\  $$$$$$\   $$$$$$\   $$$$$$\  
 *    \$$\  $$  |$$  __$$\ $$  _____|$$  __$$\ $$  __$$\ $$  __$$\ 
 *     \$$\$$  / $$$$$$$$ |\$$$$$$\  $$ /  $$ |$$$$$$$$ |$$ |  \__|
 *      \$$$  /  $$   ____| \____$$\ $$ |  $$ |$$   ____|$$ |      
 *       \$  /   \$$$$$$$\ $$$$$$$  |$$$$$$$  |\$$$$$$$\ $$ |      
 *        \_/     \_______|\_______/ $$  ____/  \_______|\__|      
 *                                   $$ |                          
 *                                   $$ |                          
 *                                   \__|     
 *
 * waybar theming
 * by yosmisyael (2024)
 */

@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrains Mono Nerd Propo", "Nerd Font", sans-serif;
    font-weight: 700;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @surface_container_highest;
    border-radius: 28px;
}

tooltip * {
    background-color: @surface_container_highest;
    color: @primary;
    text-shadow: none;
    border-radius: 12px;
}
tooltip box {
    background-color: @surface_container_highest;
}

tooltip label {
    background-color: transparent;
    color: @primary;
    padding: 5px;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 24px;
    padding: 8px;
}

#workspaces,
#window,
#clock,
#network,
#bluetooth,
#pulseaudio,
#tray,
#custom-power,
#custom-state,
#cpu,
#memory,
#temperature,
#custom-updates,
#custom-menu {
    background: transparent;
    color: @primary;
    border-radius: 20px;
    padding: 4px 12px;
    min-width: 24px;
    transition: all 0.3s ease-in-out;
}

#custom-state {
  min-width: 18px;
  font-size: 14px;
}

#custom-menu {
    background: @tertiary;
    color: @on_tertiary;
    min-width: 32px;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}

#custom-menu:hover {
    background-color: alpha(@tertiary, 0.85);
    color: alpha(@on_tertiary, 0.85);
    transition: all 0.3s ease-in-out;
}

#bluetooth:hover,
#pulseaudio:hover,
#custom-updates:hover,
#custom-power:hover {
    background: @secondary_container;
    color: @on_secondary_container;
    transition: all 0.3s ease-in-out;
}

#workspaces {
    padding: 0;
    background: transparent;
}

#workspaces button {
    padding: 0 12px;
    margin: 0 3px;
    border-radius: 18px;
    color: @primary;
    background: transparent;
    transition: all 0.3s ease-in-out;
    background: inherit;
    box-shadow: inset 0 0 @on_surface_variant;
}

#workspaces button:hover {
    background: @primary_container;
    color: @on_primary_container;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    font-weight: 600;
    min-width: 32px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background: @error_container;
    color: @on_error_container;
    transition: all 0.3s ease-in-out;
}

#window {
    background-color: @surface_variant;
    color: @on_surface_variant;
    font-weight: 400;
}

#clock {
    background: @primary;
    color: @on_primary;
    padding: 4px 12px;
    border-radius: 20px;
    min-width: 32px;
    transition: all 0.3s ease-in-out;
}

#clock:hover {
    background: alpha(@primary, 0.85);
    color: alpha(@on_primary, 0.85);
    transition: all 0.3s ease-in-out;
}

#network {
    background: @primary_container;
    color: @on_primary_container;
}

#network:hover {
    background: @primary;
    color: @on_primary;
}

#network.disconnected {
    color: @error;
}

#network.ethernet {
    color: @tertiary;
}

#bluetooth.disabled,
#bluetooth.off {
    color: @outline;
}

#bluetooth.connected {
    color: @primary;
}

#pulseaudio.muted {
    color: @error;
}

#pulseaudio {
    color: @primary;
}

/* Group Power */
box#power {
    background-color: @secondary_container;
    color: @on_secondary_container;
    padding: 4px 12px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

#power-profiles-daemon {
  margin-right: 16px;
  font-size: 14px;
}

box#power:hover {
    background-color: @on_secondary_container;
    color: @secondary_container;
    transition: all 0.3s ease-in-out;

}

#tray {
    background-color: @surface_container;
    padding: 4px 12px;
}

#tray menu {
    background: @surface;
    border: 1px solid @outline_variant;
    border-radius: 12px;
    padding: 8px;
}

#custom-power {
    background: @secondary_fixed_dim;
    color: @on_secondary_fixed;
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    min-width: 32px;
}

#custom-power:hover {
    background: alpha(@secondary_fixed_dim, 0.85);
    color: alpha(@on_secondary_fixed, 0.85);
    transition: all 0.3s ease-in-out;
}

tooltip {
    background: @surface;
    border: 1px solid @outline_variant;
    border-radius: 8px;
    padding: 8px 12px;
    color: @on_surface;
    font-weight: 400;
}

tooltip label {
    color: @on_surface;

  border-radius: 24px;
}
